@mixin text-field {
    margin: 0;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: #000000d9;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 0.3s;
    &:focus {
        border-color: lighten($primary, 25%);
        box-shadow: 0 0 0 1px lighten($primary, 25%);
        border-right-width: 1px !important;
        outline: 0;
    }
    &:hover {
        border-color: darken($primary, 8%);
        border-right-width: 1px !important;
    }
    &:disabled {
        cursor: not-allowed;
    }
}